@model IEnumerable<aspLearning.Entities.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @* localhost:port/courses/create *@
    <a class="btn btn-success" asp-controller="Courses" asp-action="Create">Create New</a>
    @* <a href="~/courses/create">Create New</a> *@
</p>
<div class="row">
    <form method="get">
        <div class="col-6">
            <input type="text" name="filter" value="@(ViewData["filter"])" class="form-control"/>
        </div>
    </form>
</div>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.Level
            </td>
            <td>
                @item.FullPrice
            </td>
            <td>
                @item.Author.Name
            </td>
            <td>
                <a class="btn btn-warning" asp-controller="Courses" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>